input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body{
    margin: 0;
    background-color: #1C1C1C;
    text-align: center;
    font-family: "Inter", sans-serif;
}

#container {
    width: 450px; /* 550/450 = 1.222 */
    height: 600px; /* 729/600 = 1.215 */
    margin: 15px auto 0;
    background-color: #F4F4F4;
    
}

#header {
    height: 234px;
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header h2{
    font-weight: 800;
    color: #FFFFFF;
    letter-spacing: -0.02em;
    margin: 20px 0;
    padding: 0 20px;
}

#input-el {
    width: 95px;
    height: 68px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: #6943FF;
    font-weight: 800;
    font-size: 58px;
    color: #FFFFFF;
    text-align: center;
    margin: 5px 0 20px;
}

#convert-btn {
    width: 95px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #3D3D3D;
    font-family: "Inter", sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1px 2px #000000;
}

#conversion {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unit{
    width: 410px;
    height: 90px;
    background-color: white;
    margin-bottom: 20px;
    color: #5A537B;
}

.unit h3{
    font-weight: 600;
    margin-bottom: 0;
}

.unit p{
    font-weight: 400; 
    font-size: 14px;
    color: #353535;
}